.btn {
  padding: 10px 35px;
  border: 2px solid var(--primary);
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
  cursor: pointer;
}

.solid {
  background-color: var(--primary);
  color: #fff;
}

.outlined {
  background-color: #fff;
  color: var(--primary);
}
