.home-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-data > h1 {
  color: var(--primary);
  font-weight: 700;
}

.user-data > p {
  margin: 10px;
}

.signatures-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.light-color {
  color: var(--secondary);
}

.link {
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: wait;
}

button {
  transition: 0.15s;
}