.home-overlay {
  max-height: 100vh;
  overflow: hidden;
}

.home-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-data > h1 {
  color: var(--primary);
  font-weight: 700;
}

.user-data input {
  font-size: 15px;
  padding: 1px;
}

.user-data > div {
  margin: 10px;
}

.signatures-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.signatures-container > img {
  width: 30%;
}

.light-color {
  color: var(--secondary);
}

.link {
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  border-color: #cccccc;
  cursor: default;
}

button {
  transition: 0.15s;
}

.date-container {
  display: flex;
}

.date-items {
  display: flex;
}