#pdf {
  background-color: #fff;
  max-width: 900px;
  margin: auto;
  padding: 25px 0;
  font-family: "Times New Roman", Times, serif !important;
}

.header {
  text-align: center;
}

.small-text {
  font-size: 20px;
}

.big-text {
  font-size: 25px;
}

.mb100 {
  margin-bottom: 45px;
}

.mb45 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
}

th {
  font-weight: 700;
  padding: 20px 15px;
}

th:nth-child(1) {
  width: 14%;
}

th:nth-child(2) {
  width: 19%;
}

th:nth-child(3) {
  width: 20%;
}

th:nth-child(4) {
  width: 30%;
}

th:nth-child(5) {
  width: 17%;
}

tr > td:nth-child(1) {
  font-weight: 700;
  padding: 6px 0;
}

tr > td:nth-child(3) {
  padding: 0 !important;
}

#insertStartDate {
  border-bottom: 1px dotted;
  padding: 0 10px;
  text-align: center;
}

#insertMonth,
#insertName {
  border-bottom: 3px dotted;
  padding: 0 30px;
  text-align: center;
}
