.auth-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--light);
}

.auth-content {
  width: 45%;
  max-width: 650px;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 28px;
  font-weight: 700;
  color: rgba(49, 80, 125);
  text-transform: uppercase;
}

.h3 {
  font-size: 16px;
}

.double-button {
  display: flex;
}

.double-button > *{
  margin: 20px;
}

.text-light {
  color: var(--secondary);
}

.title-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form {
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 60px 30px;
}

.double-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.double-input-row > .input-container {
  width: 46%;
}

.input-container {
  margin-bottom: 40px;
}


.box-input {
  width: 100%;
}

.bottom-controls {
  display: flex;
  justify-content: center;
}

.bottom-controls-link {
  color: var(--primary);
  font-weight: 700;
  text-decoration: none;
}

.auth-form-control {
  width: 70%;
  min-width: 450px;
  margin: auto;
}

.auth-form-signature {
  border: 2px solid var(--secondary);
  margin: 30px auto;
}